<!DOCTYPE html>
<html>
  <head>
    <title>B1K Integration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
      .card:hover {
        cursor: pointer;
        text-decoration: none;
        color: #8C1515;
        border-color: #8C1515;
      }
      .card {
        border-radius: 1vh;
        border-width: 0.3vh;
        border-color: black;
        color: #000;
      }
      .card-title {
        font-size: 1.5vw;
        padding: 0.5vw;
      }
      .card-text {
        font-size: 3vw;
        padding: 2vw;
      }
    </style>
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="text-center">B1K Integration</h1>
      <div class="row mt-5">
        <div class="col-md-6">
          <a href="{{ url 'task list' }}" class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Tasks</h5>
              <p class="card-text">{{ "{} | {} | {}".format(metadata[0][0], metadata[0][1], metadata[0][2]) }}</p>
            </div>
        </a>
        </div>
        <div class="col-md-6">
          <a href="{{ url 'synset list' }}" div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Synsets</h5>
              <p class="card-text">{{ "{} | {} | {}".format(metadata[1][0], metadata[1][1], metadata[1][2]) }}</p>
            </div>
          </a>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-6">
          <a href="{{ url 'index' }}" class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Objects</h5>
              <p class="card-text">{{ "{} / {}".format(metadata[2][0], metadata[2][1]) }}</p>
            </div>
          </a>
        </div>
        <div class="col-md-6">
          <a href="{{ url 'index' }}" class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Scenes</h5>
              <p class="card-text">{{ "{} / {}".format(metadata[3][0], metadata[3][1]) }}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
