{% extends "data/base.html" %}
{% block title %}{% if view.page_title %}{{ view.page_title }}{% else %}BEHAVIOR-1K Objects{% endif %}{% endblock %}
{% block customstyle %}
  <style>
    table {
      border: 0.3vh solid #dee2e6;
    }
    td, th {
      border: 0.3vh solid #dee2e6;
    }
    .clickable-row:hover {
      cursor: pointer;
      border-left: 0.5vh solid darkorange;
      color: darkorange;
    }
  </style>
  <!-- Clickable row -->
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const rows = document.querySelectorAll(".clickable-row");
      rows.forEach(row => {
        row.addEventListener("click", () => {
          window.location.href = row.dataset.href;
        });
      });
    });
  </script>
  <!-- datatable search -->
  <script>
    $(document).ready(function() {
      var table = $('#datatable').DataTable({
          searchPanes: true
      });
      table.searchPanes.container().prependTo(table.table().container());
      table.searchPanes.resizePanes();
  });
  </script>
{% endblock %}
{% block content %}
  <h1 class="text-center">{% if view.page_title %}{{ view.page_title }}{% else %}BEHAVIOR-1K Objects{% endif %}</h1>
  <h4 class="text-center">Total count: {{ object_list | length }}</h4>
  <br>
  <table class="table table-striped" id="datatable">
    <thead>
      <tr>
        <th>Object</th>
        <th>Category</th>
        <th>Synset</th>
        <th>Ready?</th>
      </tr>
    </thead>
    <tbody id="myTable">
      {% for object in object_list %}
      <tr class="clickable-row" data-href="{% url 'object_detail' object.name %}">
        <td>{{ object.name }}<a href="{% url 'object_detail' object.name %}"></a></td>
        <td>{{ object.category.name }}</td>
        <td>{{ object.category.synset.name }}</td>
        <td class="{% if object.ready %}bg-success{% else %}bg-warning{% endif %}">{{ object.ready }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}