{% extends "data/base.html" %}
{% block title %}Object {{ object.name }} Details{% endblock %}
{% block content %}
  <h1>{{ object.name }} Details</h1>

  {% if object.photo %}
  <img class="img-fluid" src="{{ object.photo.url }}" alt="{{ object.name }} photo" />
  {% endif %}

  <h2>Is ready: {{ object.ready }}</h2>
  <h2>Category:</h2>
  <p>{{ object.category }}</p>

  <h2>Synsets</h2>
  {% include "data/synset_graph_module.html" with G=object.category.synset.subgraph center_node=object.category.synset %}
{% endblock %}
