{% extends "data/base.html" %}
{% block title %}Object {{ object.name }} Details{% endblock %}
{% block content %}
  <h1 class="text-center">{{ object.name }}</h1>
  <hr>
  <h4 class="text-center">
    {% if object.ready %}<span class="text-success">Ready</span>{% elif object.planned %}<div class="text-warning">Planned</div>{% else %}<div class="text-danger">Need Action</div>{% endif %} 
    | Category: <a href="{% url 'category_detail' object.category.name %}">{{ object.category }}</a> | Original name: {{ object.original_name }}
  </h4>

  <img class="img-fluid" src="https://cvgl.stanford.edu/b1k/object_images/{{ object.name }}.webp" alt="{{ object.name }} photo" />

  <h2>Scene / Rooms</h2>
  <ul>
      {% for roomobject in object.roomobject_set.all %}
      <li><a href="{% url 'scene_detail' roomobject.room.scene.name %}">{{ roomobject.room.scene.name }} - {{ roomobject.room.name }} - {% if roomobject.room.ready %}Ready{% else %}Future{% endif %}: {{ roomobject.count }}</a></li>
      {% empty %}
      <li>None</li>
      {% endfor %}
  </ul>

  <h2>Synsets</h2>
  {% include "data/synset_graph_module.html" with G=object.category.synset.subgraph center_node=object.category.synset %}
{% endblock %}
