{% extends "data/base.html" %}
{% block title %}Scene {{ scene.name }} Details{% endblock %}
{% block content %}
  <h1>{{ scene.name }} Details</h1>
  <h2>Is ready: {{ scene.ready }}</h2>
  <h2>Rooms</h2>
  {% for room in scene.room_set.all %}
  <h3>{{ room.name }}</h3>
  <ul>
    {% for roomobject in room.roomobject_set.all %}
    <li><a href="{% url 'object_detail' roomobject.object.name %}">{{ roomobject.object.name }}</a>: {{ roomobject.count }}</li>
    {% empty %}
    <li>None</li>
    {% endfor %}
  </ul>
  {% endfor %}
{% endblock %}
