{% extends "data/base.html" %}
{% block title %}Synset {{ synset.name }} Details{% endblock %}
{% block content %}
  <h1 class="text-center">{{ synset.name }}</h1>
  <hr/>
  {% if synset.legal %} 
  <div class="text-center">{{ synset.definition|capfirst }}</div>
  {% else %}
  <div class="text-center">{{ Illegal }}</div>
  {% endif %}

  <br>
  <h2>Properties</h2>
  <div class="container">
    <div class="row justify-content-md-center">
      <!-- TODO: Add parameters -->
      {% for property in synset.property_set.all %}
      <div class="col-md-auto my-1 py-2 border">{{ property.name }}</div>
      {% empty %}
      <p>None</p>
      {% endfor %}
    </div>
  </div>
  <h2>Uses</h2>
  <div class="row justify-content-md-center">
    <div class="col-md-auto my-1 border py-2">{% if synset.is_used_as_substance %} IS {% else %} NOT {% endif %} used as substance</div>
    <div class="col-md-auto my-1 border py-2">{% if synset.is_used_as_non_substance %} IS {% else %} NOT {% endif %} used as non-substance</div>
    <div class="col-md-auto my-1 border py-2">{% if synset.is_used_as_fillable %} IS {% else %} NOT {% endif %} used as fillable</div>
  </div>
  <div class="row justify-content-md-center">
    {% for predicate in synset.used_in_predicates.all %}
    <div class="col-md-3 my-1 border py-2">{{ predicate.name }}</div>
    {% endfor %}
  </div>
  <h2>Tasks</h2>
  <div class="container">
    <div class="row justify-content-md-center">
      {% for task in synset.task_set.all %}
      <div class="col-md-auto my-1"><a href="{% url 'task_detail' task.name %}" class="{{ 'btn btn-'|add:task.state }}">{{ task.name }}</a></div>
      {% empty %}
      <div>None</div>
      {% endfor %}
    </div>
  </div>
  <br>
  
  <h2>Directly Mapped Objects</h2>
  <div class="container">
    <div class="row justify-content-md-center">
      {% for object in synset.direct_matching_objects|dictsort:"name" %}
      <div class="col-md-auto my-1"><a href="{% url 'object_detail' object.name %}" class="{{ 'btn btn-'|add:object.state }}">{{ object.name }}</a></div>
      {% empty %}
      <p>None</p>
      {% endfor %}
    </div>
  </div>
  <br>

  <h2>All Descendant Objects (including Direct)</h2>
  <div class="container">
    <div class="row justify-content-md-center">
      {% for object in synset.matching_objects|dictsort:"name" %}
      <div class="col-md-auto my-1"><a href="{% url 'object_detail' object.name %}" class="{{ 'btn btn-'|add:object.state }}">{{ object.name }}</a></div>
      {% empty %}
      <p>None</p>
      {% endfor %}
    </div>
  </div>
  <br>

  <h2>Related Synsets</h2>
  {% include "data/synset_graph_module.html" with G=synset.subgraph center_node=synset %}
  <br>
  
  <h2>Ancestor Synsets</h2>
  <div class="container">
    <div class="row justify-content-md-center">
      {% for ancestor in synset.ancestors.all|dictsort:"name" %}
      <div class="col-md-auto my-1"><a href="{% url 'synset_detail' ancestor.name %}" class="{{ 'btn btn-'|add:ancestor.state }}">{{ ancestor.name }}</a></div>
      {% empty %}
      <p>None</p>
      {% endfor %}
    </div>
  </div>
  <br>

  <h2>Parents Synsets</h2>
  <div class="container">
    <div class="row justify-content-md-center">
      {% for parent in synset.parents.all|dictsort:"name" %}
      <div class="col-md-auto my-1"><a href="{% url 'synset_detail' parent.name %}" class="{{ 'btn btn-'|add:parent.state }}">{{ parent.name }}</a></div>
      {% empty %}
      <p>None</p>
      {% endfor %}
    </div>
  </div>
  <br>

  <h2>Children Synsets</h2>
  <div class="container">
    <div class="row justify-content-md-center">
      {% for child in synset.children.all|dictsort:"name"  %}
      <div class="col-md-auto my-1"><a href="{% url 'synset_detail' child.name %}" class="{{ 'btn btn-'|add:child.state }}">{{ child.name }}</a></div>
      {% empty %}
      <p>None</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}