{% extends "data/base.html" %}
{% block title %}{% if view.page_title %}{{ view.page_title }}{% else %}BEHAVIOR-1K Synsets{% endif %}{% endblock %}
{% block customstyle %}
  <style>
    table {
      border: 0.3vh solid #dee2e6;
    }
    td, th {
      border: 0.3vh solid #dee2e6;
    }
    td a{
      display: block;
    }
    .clickable-row:hover {
      cursor: pointer;
      border-left: 0.5vh solid darkorange;
      color: darkorange;
    }
  </style>
  <!-- Clickable row -->
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const rows = document.querySelectorAll(".clickable-row");
      rows.forEach(row => {
        row.addEventListener("click", () => {
          window.location.href = row.dataset.href;
        });
      });
    });
  </script>
  <!-- datatable search -->
  <script>
    $(document).ready(function() {
      var table = $('#datatable').DataTable({
        paging: false,
        searchPanes: {
            viewTotal: true,
            columns: [1, 2, 3, 4, 5]
        },
        columnDefs: [
          {
            searchPanes: {
              options: [
                {
                  label: 'Matched',
                  value: function(rowData, rowIdx) {return rowData[3] > 0;}
                },
                {
                  label: 'Unmatched',
                  value: function(rowData, rowIdx) {return rowData[3] == 0;}
                },
              ]
            },
            targets: [3]
          },
          {
            searchPanes: {
              options: [
                {
                  label: 'Matched',
                  value: function(rowData, rowIdx) {return rowData[4] > 0;}
                },
                {
                  label: 'Unmatched',
                  value: function(rowData, rowIdx) {return rowData[4] == 0;}
                },
              ]
            },
            targets: [4]
          },
          {
            searchPanes: {
              options: [
                {
                  label: 'Matched',
                  value: function(rowData, rowIdx) {return rowData[5] > 0;}
                },
                {
                  label: 'Unmatched',
                  value: function(rowData, rowIdx) {return rowData[5] == 0;}
                },
              ]
            },
            targets: [5]
          },
        ],
      });
      table.searchPanes.container().prependTo(table.table().container());
      table.searchPanes.resizePanes();
  });
  </script>
{% endblock %}
{% block content %}
  <h1 class="text-center">{% if view.page_title %}{{ view.page_title }}{% else %}BEHAVIOR-1K Synsets{% endif %}</h1>
  <h4 class="text-center">Total count: {{ synset_list | length }}</h4>
  <br>
  <table class="table table-striped" id="datatable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Synset State</th>
        <th>Substance Type</th>
        <th>Direct Objects</th>
        <th>Total Objects</th>
        <th>Task required</th>
      </tr>
    </thead>
    <tbody id="myTable">
      {% for synset in synset_list %}
      <tr class="clickable-row" data-href="{% url 'synset_detail' synset.name %}">
        <td>{{ synset.name }}<a href="{% url 'synset_detail' synset.name %}"></a></td>
        <td class="{{ 'bg-'|add:synset.state }}">
          {% if synset.state == 'success' %}Ready
          {% elif synset.state == 'warning' %}Planned
          {% elif synset.state == 'danger' %}Not Ready
          {% elif synset.state == 'info' %}Substance
          {% else %}Illegal
          {% endif %}
        </td>
        <td>{{ synset.substance_type }}</td>
        <td>{{ synset.direct_matching_objects | length }}</td>
        <td>{{ synset.matching_objects | length }}</td>
        <td>{{ synset.n_task_required }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}