{% extends "data/base.html" %}
{% block title %}BEHAVIOR-1K Synsets{% endblock %}
{% block customstyle %}
  <style>
    h1 {
      text-align: center;
      padding: 5vh;
    }
    table {
      border: 0.3vh solid #dee2e6;
    }
    td, th {
      border: 0.3vh solid #dee2e6;
    }
    .clickable-row:hover {
      cursor: pointer;
      border-left: 0.5vh solid darkorange;
      color: darkorange;
    }
  </style>
  <!-- Clickable row -->
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const rows = document.querySelectorAll(".clickable-row");
      rows.forEach(row => {
        row.addEventListener("click", () => {
          window.location.href = row.dataset.href;
        });
      });
    });
  </script>
{% endblock %}
{% block content %}
  <h1>B1K synsets</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Synset State</th>
        <th>Requiring Tasks</th>
      </tr>
    </thead>
    <tbody>
      {% for synset in synset_list %}
      <tr class="clickable-row" data-href="{% url 'synset detail' synset.name %}">
        <td>{{ synset.name }}</td>
        <td class="{{ 'bg-'|add:synset.state }}"></td>
        <td class="{{ 'bg-'|add:synset.task_state }}"></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}