<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>B1K task list</title>
    <style>
      h1 {
        text-align: center;
        padding: 5vh;
      }
      table {
        border: 0.3vh solid #dee2e6;
      }
      td, th {
        border: 0.3vh solid #dee2e6;
      }
      .clickable-row:hover {
        cursor: pointer;
        border-left: 0.5vh solid darkorange;
        color: darkorange;
      }
    </style>
    <!-- Clickable row -->
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const rows = document.querySelectorAll(".clickable-row");
        rows.forEach(row => {
          row.addEventListener("click", () => {
            window.location.href = row.dataset.href;
          });
        });
      });
      </script>
  </head>
  <body>
    <div class="container">
      <h1>B1K task list</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Task Name</th>
            <th>Definition Valid</th>
            <th>Scene Match</th>
            <th>Object Match</th>
          </tr>
        </thead>
        <tbody>
          {% for task in task_list %}
          <tr class="clickable-row" data-href="{{ url 'task detail' task_name }}">
            <td>{{ name }}</a></td>
            <td class="{{ 'bg-' + metadata[0] }}"></td>
            <td class="{{ 'bg-' + metadata[1] }}"></td>
            <td class="{{ 'bg-' + metadata[2] }}"></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

