<!DOCTYPE html>
<html>
  <head>
    <title>{{ task_name }} Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>{{ task_name }} Details</h1>
      <h2>Invalid Definitions:</h2>
      {% if task_data[0]|length > 0 %}
      <ul>
        {% for entry in task_data[0] %}
        <li>Invalid synset {{ entry }}</li>
        {% endfor %}
      </ul>
      {% else %}
      <p>None</p>
      {% endif %}
      <h2>Scene Matching</h2>
      <ul>
        <li>Matched:
          {% if task_data[1]["matched"]|length > 0 %}
          <ul>
            {% for scene in task_data[1]["matched"] %}
            <li>{{ scene }}</li>
            {% endfor %}
          </ul>
          {% else %}
          <p>None</p>
          {% endif %}
        </li>
        <li>Unmatched:
          {% if task_data[4]["unmatched"]|length > 0 %}
          <ul>
            {% for scene, reason in task_data[4]["unmatched"].items() %}
            <li>{{ scene }}: {{ reason }}</li>
            {% endfor %}
          </ul>
          {% else %}
          <p>None</p>
          {% endif %}
        </li>
      </ul>
      
      <h2>Objects Matching</h2>
      <ul>
        <l1>Matched:
          {% if task_data[2]|length > 0 %}
          <ul>
            {% for obj in task_data[2] %}
            <li>{{ obj }}</li>
            {% endfor %}
          </ul>
          {% else %}
          <p>None</p>
          {% endif %}
        </l1>
        <l1>Unmatched:
          {% if task_data[6]|length > 0 %}
          <ul>
            {% for obj in task_data[6] %}
            <li>{{ obj }}</li>
            {% endfor %}
          </ul>
          {% else %}
          <p>None</p>
          {% endif %}
        </l1>
      </ul>
    </div>
  </body>
</html>
