<!DOCTYPE html>
<html>
  <head>
    <title>{{ task.name }} Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>{{ task.name }} Details</h1>
      <h2>Synsets</h2>
      <ul>
        {% for synset in task.synsets.all %}
        <a href="{% url 'synset detail' synset.name %}" class="{{ 'btn btn-'|add:synset.state }}"> {{ synset.name }}</a>
        {% empty %}
        <li>None</li>
        {% endfor %}
      </ul>
      <h2>Scenes</h2>
      <ul>
        <li>Matched ready:
          <ul>
            {% for scene in task.matched_ready_scene.matched.ready %}
            <li>{{ scene }}</li>
            {% empty %}
            <li>None</li>
            {% endfor %}
          </ul>
        </li>
        
        <li>Matched all:
          <ul>
            {% for scene in task.matching_scenes.matched.all %}
            <li>{{ scene }}</li>
            {% empty %}
            <li>None</li>
            {% endfor %}
          </ul>
        </li>

        <li>Unmatched:
          <ul>
            {% for scene, info in task.matching_scene.unmatched %}
            <li>{{ scene }}: {{ info.1 }}</li>
            {% empty %}
            <li>None</li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
  </body>
</html>
