<!DOCTYPE html>
<html>
  <head>
    <title>{{ task.name }} Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>{{ task.name }} Details</h1>
      <h2>Synsets</h2>
      <ul>
        {% for synset in task.synsets.all %}
        <li> {{ synset.name }}</li>
        {% empty %}
        <li>None</li>
        {% endfor %}
      </ul>
      <h2>Scenes</h2>
      <ul>
        <li>Matched:
          {% if task_data[1]["matched"]|length > 0 %}
          <ul>
            {% for scene in task_data[1]["matched"] %}
            <li>{{ scene }}</li>
            {% endfor %}
          </ul>
          {% else %}
          <p>None</p>
          {% endif %}
        </li>
        <li>Unmatched:
          {% if task_data[4]["unmatched"]|length > 0 %}
          <ul>
            {% for scene, reason in task_data[4]["unmatched"].items() %}
            <li>{{ scene }}: {{ reason }}</li>
            {% endfor %}
          </ul>
          {% else %}
          <p>None</p>
          {% endif %}
        </li>
      </ul>
    </div>
  </body>
</html>
