{% extends "data/base.html" %}
{% block title %}Task {{ task.name }} Details{% endblock %}
{% block content %}
  <h1>{{ task.name }} Details</h1>
  <h2>Synsets</h2>
  <ul>
    {% for synset in task.synsets.all %}
    <a href="{% url 'synset_detail' synset.name %}" class="{{ 'btn btn-'|add:synset.state }}"> {{ synset.name }}</a>
    {% empty %}
    <li>None</li>
    {% endfor %}
  </ul>
  <h2>Scenes</h2>
  <ul>
    <li>Matched:
      <ul>
        {% for scene in scene_matching_dict.matched %}
        <li>{{ scene }}</li>
        {% empty %}
        <li>None</li>
        {% endfor %}
      </ul>
    </li>
    
    <li>Planned:
      <ul>
        {% for scene, info in scene_matching_dict.planned.items %}
        <li>{{ scene }}: {{ info }}</li>
        {% empty %}
        <li>None</li>
        {% endfor %}
      </ul>
    </li>

    <li>Unmatched:
      <ul>
        {% for scene, info in scene_matching_dict.unmatched.items %}
        <li>{{ scene }}: {{ info }}</li>
        {% empty %}
        <li>None</li>
        {% endfor %}
      </ul>
    </li>
  </ul>
  <h2>Full Definition</h2>
  <pre>
{{ task.definition | safe }}
  </pre>
{% endblock %}
