{% extends "data/base.html" %}
{% block title %}{% if view.page_title %}{{ view.page_title }}{% else %}BEHAVIOR-1K Tasks{% endif %}{% endblock %}
{% block customstyle %}
  <style>
    table {
      border: 0.3vh solid #dee2e6;
    }
    td, th {
      border: 0.3vh solid #dee2e6;
    }
    td a {
      color: black;
    }
    td a:hover {
      text-decoration: none;
    }
    .clickable-row:hover {
      cursor: pointer;
      border-left: 0.5vh solid darkorange;
      color: darkorange;
    }
  </style>
  <!-- Clickable row -->
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const rows = document.querySelectorAll(".clickable-row");
      rows.forEach(row => {
        row.addEventListener("click", () => {
          window.location.href = row.dataset.href;
        });
      });
    });
  </script>
  <!-- datatable search -->
  <script>
    $(document).ready(function() {
      var table = $('#datatable').DataTable({
          searchPanes: true
      });
      table.searchPanes.container().prependTo(table.table().container());
      table.searchPanes.resizePanes();
  });
  </script>
{% endblock %}
{% block content %}
  <h1 class="text-center">{% if view.page_title %}{{ view.page_title }}{% else %}BEHAVIOR-1K Tasks{% endif %}</h1>
  <h3 class="text-center">Total count: {{ task_list | length }}</h3>
  <br>
  <table class="table table-striped" id="datatable">
    <thead>
      <tr>
        <th>Task Name</th>
        <th>Synsets</th>
        <th>Scenes</th>
        <th>Substances</th>
      </tr>
    </thead>
    <tbody id="myTable">
      {% for task in task_list %}
      <tr class="clickable-row" data-href="{% url 'task_detail' task.name %}">
        <td>{{ task.name }}<a href="{% url 'task_detail' task.name %}"></a></td>
        <td class="{{ 'bg-'|add:task.synset_state }}">
          {% for synset in task.problem_synsets %}
            {{ synset }}, 
          {% endfor %}
        </td>
        <td class="{{ 'bg-'|add:task.scene_state }}">
          {% for scene in task.scene_matching_dict.matched %}
            {{ scene }}, 
          {% endfor %}
        </td>
        <td class="{{ 'bg-'|add:task.substance_required }}">
          {% for substance in task.substance_synsets %}
            {{ substance }}, 
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

