<div class="container">
<div class="row method-container">
  <div class="section-header">
    <div class="col-lg-12 col-md-12">
    <h2>Tutorial Schedule</h2>
     The tutorial is happening at ECCV 2022 on Oct 24, from 14:00-17:00 local time.

     <br>
    </div>
    <br>

    <center>
    <div class="col-lg-12 col-md-12">

      <style>
        table {
          border-collapse: collapse;
          width: 100%;
          justify-content: center;
        }

        th,
        td {
          text-align: left;
          padding: 6px;
        }

        tr:nth-child(odd) {
          background-color: #f2f2f2;
        }
      </style>

      <table style="width:95%">
        <tr>
          <td><b>Time&nbsp;&nbsp;&nbsp;&nbsp;(IST / PST)</b></td>
          <td><b>Speaker </b></td>
          <td><b>Live/Recorded </b></td>
          <td><b>Title of the talk </b></td>
        </tr>
        <tr>
          <td>14:00-14:05 / 4:00-4:05</td>
          <td> Organizers </td>
          <td>Live</td>
          <td>Opening Remarks </td>
        </tr>
        <tr>
          <td>14:05-14:30 / 4:05-4:30</td>
          <td> Ruohan Zhang</td>
          <td>Live</td>
          <td>Introduction to BEHAVIOR</td>
        </tr>
        <tr>
          <td>14:30-14:45 / 4:30-4:45</td>
          <td> Michael Lingelbach</td>
          <td>Live</td>
          <td> Codebase and Installation Guide</td>
        </tr>
        <tr>
          <td>14:50-15:10 / 4:50-5:10</td>
          <td>Sanjana Srivastava</td>
          <td>Live</td>
          <td>BEHAVIOR Activities</td>
        </tr>
        <tr>
          <td>15:10-15:25 / 5:10-5:25</td>
          <td>Cem Gokmen</td>
          <td>Live</td>
          <td> BEHAVIOR Scene and Object Dataset</td>
        </tr>
        <tr>
          <td>15:25-15:50 / 5:25-5:50</td>
          <td> Josiah Wong </td>
          <td> Live </td>
          <td> OmniGibson: BEHAVIOR Physics Simulation</td>
        </tr>
        <tr>
          <td>15:55-16:25 / 5:55-6:25</td>
          <td>Chengshu Li, Chen Wang</td>
          <td>Live</td>
          <td>First Steps to Solving BEHAVIOR</td>
        </tr>
        <tr>
          <td>16:25-16:40 / 6:25-6:40</td>
          <td>Roberto Martin-Martin, Michael Lingelbach, Chen Wang</td>
          <td>Live</td>
          <td>BEHAVIOR Research Demos</td>
        </tr>
        <tr>
          <td>16:40-17:00 / 6:40-7:00</td>
          <td>Organizers</td>
          <td> Live </td>
          <td> QA </td>
        </tr>

      </table>
    </div>
    </center>
  </div>
</div>