<div class="section features-1" >
    <div class="container">
      <div class="row text-left justify-content-left">
        <div class="col-lg-8">
          <h4>Alumni</h4>
          <br>
        </div>
      </div>
      <div class="row text-center justify-content-center" align="middle">
        <div class="col">
          <a href="http://web.stanford.edu/~jksun/" class="avatar avatar-xl rounded-circle">
            <img alt="Jiankai Sun" src="{{ '/assets/img/people/jiankai.jpg' | relative_url }}">
          </a>
          <small class="d-block font-weight-bold mb-4">Jiankai Sun</small>
        </div>
        <div class="col">
          <a href="https://mj-hwang.github.io/" class="avatar avatar-xl rounded-circle">
            <img alt="Minjune Hwang" src="{{ '/assets/img/people/minjune.jpg' | relative_url }}">
          </a>
          <small class="d-block font-weight-bold mb-4">Minjune Hwang</small>
        </div>
        <div class="col">
          <a href="https://github.com/manasi-sharma" class="avatar avatar-xl rounded-circle">
            <img alt="Manasi Sharma" src="{{ '/assets/img/people/manasi.jpg' | relative_url }}">
          </a>
          <small class="d-block font-weight-bold mb-4">Manasi<br/>Sharma</small>
        </div>
        <div class="col">
          <a href="https://www.linkedin.com/in/arman-aydin-915035185/?trk=public_profile_like_view_actor-name" class="avatar avatar-xl rounded-circle">
            <img alt="Arman Aydin" src="{{ '/assets/img/people/arman.jpg' | relative_url }}">
          </a>
          <small class="d-block font-weight-bold mb-4">Arman Aydin</small>
        </div>
        <div class="col">
          <a href="https://dhruvabansal.com/" class="avatar avatar-xl rounded-circle">
            <img alt="Dhruva Bansal" src="{{ '/assets/img/people/dhruva.jpg' | relative_url }}">
          </a>
          <small class="d-block font-weight-bold mb-4">Dhruva Bansal</small>
        </div>
        <div class="w-100"></div>
        <div class="col">
          <a href="#" class="avatar avatar-xl rounded-circle">
            <img alt="Samuel Hunter" src="{{ '/assets/img/people/samuel.jpg' | relative_url }}">
          </a>
          <small class="d-block font-weight-bold mb-4">Samuel Hunter</small>
        </div>
        <div class="col">
          <a href="https://kykim0.github.io/" class="avatar avatar-xl rounded-circle">
            <img alt="Kyu-Young Kim" src="{{ '/assets/img/people/kyuyoung.jpg' | relative_url }}">
          </a>
          <small class="d-block font-weight-bold mb-4">Kyu-Young Kim</small>
        </div>
        <div class="col">
          <a href="https://icme.stanford.edu/people/alan-lou" class="avatar avatar-xl rounded-circle">
            <img alt="Alan Lou" src="{{ '/assets/img/people/alan_lou.jpg' | relative_url }}">
          </a>
          <small class="d-block font-weight-bold mb-4">Alan Lou</small>
        </div>
        <div class="col">
          <a href="https://www.linkedin.com/in/caleb-matthews/" class="avatar avatar-xl rounded-circle">
            <img alt="Caleb Matthews" src="{{ '/assets/img/people/caleb_matthews.jpg' | relative_url }}">
          </a>
          <small class="d-block font-weight-bold mb-4">Caleb<br/>Matthews</small>
        </div>
        <div class="col">
          <a href="https://www.linkedin.com/in/ivillare/" class="avatar avatar-xl rounded-circle">
            <img alt="Ivan Villa-Renteria" src="{{ '/assets/img/people/ivan_villa_renteria.jpg' | relative_url }}">
          </a>
          <small class="d-block font-weight-bold mb-4">Ivan<br/>Villa-Renteria</small>
        </div>
        <div class="w-100"></div>
        <div class="col">
          <a href="https://www.linkedin.com/in/jerry-tang-b37026162/" class="avatar avatar-xl rounded-circle">
            <img alt="Jerry Tang" src="{{ '/assets/img/people/jerry_tang.jpg' | relative_url }}">
          </a>
          <small class="d-block font-weight-bold mb-4">Jerry Tang</small>
        </div>
        <div class="col">
          <a href="#" class="avatar avatar-xl rounded-circle">
            <img alt="Claire Tang" src="{{ '/assets/img/people/claire_tang.png' | relative_url }}">
          </a>
          <small class="d-block font-weight-bold mb-4">Claire Tang</small>
        </div>
        <div class="col">
          <a href="https://fxia22.github.io" class="avatar avatar-xl rounded-circle">
            <img alt="Fei Xia" src="{{ '/assets/img/people/fei_xia.png' | relative_url }}">
          </a>
          <small class="d-block font-weight-bold mb-4">Fei Xia</small>
        </div>
        <div class="col">
          <a href="https://www.linkedin.com/in/kent-vainio-4749b0145/?originalSubdomain=ch" class="avatar avatar-xl rounded-circle">
            <img alt="Kent Vainio" src="{{ '/assets/img/people/kent_vainio.jpg' | relative_url }}">
          </a>
          <small class="d-block font-weight-bold mb-4">Kent Vainio</small>
        </div>
        <div class="col">
          <a href="https://profiles.stanford.edu/zheng-lian" class="avatar avatar-xl rounded-circle">
            <img alt="Zheng Lian" src="{{ '/assets/img/people/zheng_lian.jpg' | relative_url }}">
          </a>
          <small class="d-block font-weight-bold mb-4">Zheng Lian</small>
        </div>
        <div class="col">
          <a href="https://cs.stanford.edu/~shyamal" class="avatar avatar-xl rounded-circle">
            <img alt="Shyamal Buch" src="{{ '/assets/img/people/shyamal.jpg' | relative_url }}">
          </a>
          <small class="d-block font-weight-bold mb-4">Shyamal Buch</small>
        </div>
      </div>
    </div>
  </div>
