<div class="section features-3 my-5 fullWidth" style="background-image: url(' {{ /assets/img/ill/p31.svg | relative_url }}')">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-lg-8">
        <h3 class="display-3 text-white">What makes BEHAVIOR-100 different?</h3>
        <br>
      </div>
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col">
        <div class="info info-horizontal bg-white">
          <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle">
            <i class="ni ni-active-40 text-info"></i>
          </div>
          <div class="description pl-4">
            <h6 class="title text-info">100 Household Activities in Realistically Simulated Homes</h6>
          
          <p class="description opacity-8">Activities include cleaning, preparing food, tidying, polishing, installing elements, etc. The activities ar eobtained from the American Time Use Survey and approximate the real distribution of tasks performed by humans in their everyday lives.</p>
          <span><a href="https://behavior.stanford.edu/activity_list.html" class="text-info">Activity list</a> | <a href="https://behavior.stanford.edu/behavior-gallery/activity.html" class="text-info">Activity images and videos</a></span>
          </div>
        </div>
      </div>
      <div class="col">
        <video autoplay loop muted width="450">
            <source src="{{ '/assets/img/behavior/behav_web1.mp4' | relative_url }}" type="video/mp4">
              Sorry, your browser doesn't support embedded videos.
            </video>
      </div>
      <div class="w-100"></div>
      <br>
      <br>
      <div class="col">
        <div class="info info-horizontal bg-white">
          <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle">
            <i class="ni ni-istanbul text-warning"></i>
            <!-- <i class="fa-solid fa-arrow-right-arrow-left"></i> -->
          </div>
          <div class="description pl-4">
            <h6 class="title text-warning">Decision Making based on Onboard Sensing for Navigation and Manipulation</h6>
          
            <p class="description opacity-8">These long-horizon activities require that the robot understand the scene, plan a strategy, and execute it by controlling the motion of the embodied agent based on observations. We provide <a href="https://stanfordvl.github.io/behavior/agents.html">three embodiments</a>, both <a href="https://stanfordvl.github.io/behavior/agents.html#embodiments-actuation-sensing-grasping">a rich actuation space and a set of action primitives</a>, and <a href="https://stanfordvl.github.io/behavior/agents.html#observations">realistic RGB-D and proprioceptive signals</a>: as close as it gets to the challenges of real-world.</p>
            <a href="https://stanfordvl.github.io/behavior/intro.html" class="text-warning">Benchmark documentation</a>
            </div>
        </div>
      </div>
      <div class="col">
        <video autoplay loop muted width="450">
              <source src="{{ '/assets/img/behavior/behav_web2.mp4' | relative_url }}" type="video/mp4">
              Sorry, your browser doesn't support embedded videos. 
            </video>
      </div>
      <div class="w-100"></div>
      <br>
      <br>
      <div class="col">
        <div class="info info-horizontal bg-white">
          <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle">
            <i class="ni ni-trophy text-danger"></i>
          </div>
          <div class="description pl-4">
            <h6 class="title text-danger">More Complex Interactions than just Pick-and-Place</h6>
            <p class="description opacity-8">Accomplishing the BEHAVIOR activities requires changing more than the position of the objects in the environment: they need to be cooked, frozen, soaked, cleaned, and more. All these new types of state changes are supported by the provided simulator, iGibson 2.0, and enable new and unique types of activities.</p>
            <a href="http://svl.stanford.edu/igibson/" class="text-danger">More about the simulator iGibson 2.0</a>
          </div>
        </div>
      </div>
      <div class="col">
        <video autoplay loop muted width="450">
              <source src="{{ '/assets/img/behavior/state_changes.mp4' | relative_url }}" type="video/mp4">Sorry, your browser doesn't support embedded videos.
              </video>
      </div>
    </div>
  </div>
</div>
