{% for category in site.data.settings.team_info %}
  <div class="section features-1">
    <div class="container">
        <div class="row text-left justify-content-left">
            <div class="col-lg-8">
                <h4>{{ category.title }}</h4>
                <br>
            </div>
        </div>
        <div class="row text-center justify-content-center" align="middle">
            {% for member in category.members %}
                <div class="col">
                    <a href="{{ member.url }}" class="avatar avatar-xl rounded-circle" align="middle">
                        <img alt="{{ member.name }}" src="/assets/img/people/{{ member.picture }}">
                    </a>
                    <small class="d-block font-weight-bold mb-4">{{ member.name }}</small>
                </div>
            {% endfor %}
        </div>
    </div>
  </div>
{% endfor %}

