<div class="section features-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 mr-auto text-left mt-4">
        <div class="card bg-default shadow border-0">
          <img src="{{ '/assets/img/behavior/tool.jpg' | relative_url }}" class="card-img-top">
          <blockquote class="card-blockquote">
            <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
              <polygon points="0,52 583,95 0,95" class="fill-default"></polygon>
              <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default"></polygon>
            </svg>
            <h4 class="display-4 text-white">Describe your activity in BDDL</h4>
            <p class="lead text-italic text-white">Use our visual tool in our online server to generate the logic description in BDDL for your new activity.</p>
            <a href="{% link _pages/activity-annotation.md %}" class="text-primary">Create your activity
              <i class="ni ni-bold-right text-primary"></i>
            </a>
          </blockquote>
        </div>
      </div>
      <div class="col-lg-4 mr-auto text-left mt-4">
        <div class="card bg-primary shadow border-0">
          <img src="{{ '/assets/img/behavior/sampling.gif' | relative_url }}" class="card-img-top">
          <blockquote class="card-blockquote">
            <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
              <polygon points="0,52 583,95 0,95" class="fill-primary"></polygon>
              <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-primary"></polygon>
            </svg>
            <h4 class="display-4 text-white">Sample your activity in iGibson</h4>
            <p class="lead text-italic text-white">Create multiple valid activity instances by sampling BDDL definitions with our generating code.</p>
            <a href="javascript:;" class="text-default">Instructions for sampling (coming soon)
              <i class="ni ni-bold-right text-default"></i>
            </a>
          </blockquote>
        </div>
      </div>
            <div class="col-lg-4 mr-auto text-left mt-4">
        <div class="card bg-success shadow border-0">
          <img src="{{ '/assets/img/behavior/bunny.jpg' | relative_url }}" class="card-img-top">
          <blockquote class="card-blockquote">
            <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
              <polygon points="0,52 583,95 0,95" class="fill-success"></polygon>
              <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-success"></polygon>
            </svg>
            <h4 class="display-4 text-white">Add new object models</h4>
            <p class="lead text-italic text-white">Need a new object that is not in the dataset? Add your own object and use it in the activities.</p>
            <a href="https://docs.google.com/document/d/1OnoDS-ZZSp2lf_kCTvLxpa4AAWXYpzH1Hq42cJW-y1Y/preview" class="text-default">Instructions to add objects
              <i class="ni ni-bold-right text-default"></i>
            </a>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
