<div class="container">
<div class="row method-container">
  <div class="section-header">
    <div class="col-lg-12 col-md-12">
<!--     <h2>Workshop Schedule</h2>
     The workshop is happening at ECCV 2022 on Oct 24. We will announce detailed schedule shortly.
     <br> -->

     <br>
    </div>
    <br>

    <center>
    <div class="col-lg-12 col-md-12">

      <style>
        table {
          border-collapse: collapse;
          width: 100%;
          justify-content: center;
        }

        th,
        td {
          text-align: left;
          padding: 6px;
        }

        tr:nth-child(odd) {
          background-color: #f2f2f2;
        }
      </style>
 

          <video controls 
               poster="/assets/img/behavior/b1k-tutorial.png"
          width="1000">

              <source src="/assets/img/behavior/b1k_pull_video.mp4">

          </video>

    </div>
    </center>
  </div>
</div>
