<div class="section features-4">
  <center><h4 class="display-4 text-default">What makes BEHAVIOR-1K different?</h4></center>
  <br>

  <div class="container"> 
    <center><h5 class="display-6 text-default">Comparison with existing benchmarks: human needs, diversity, and realism</h5></center>
        <center><img src="{{ '/assets/img/behavior/b1k-feats/compare.png' | relative_url }}" width="999"></center>    
  </div>  
  <br><br>

  <div class="container"> 
    <center><h5 class="display-6 text-default">1,000 household activities that people prefer more help with</h5></center>
    <br>
        <center><img src="{{ '/assets/img/behavior/b1k-feats/survey.png' | relative_url }}" width="900"></center>    
  </div>  
  <br><br>

  <div class="container"> 
    <center><h5 class="display-6 text-default">1,000 activities, instantiated in 50 fully interactive scenes with 5,000+ objects</h5></center>
    <div class="row align-items-center">

    <div class="col-lg-6 mr-auto text-left mt-4">
      <div class="card bg-green shadow border-0">
        <img src="{{ '/assets/img/behavior/b1k-feats/scenes.png' | relative_url }}" height="280">
      </div>
    </div>
    
    <div class="col-lg-6 mr-auto text-left mt-4">
      <div class="card bg-white shadow border-0">
        <video autoplay loop muted height="280">
          <source src="{{ '/assets/img/behavior/b1k-feats/objects.mp4' | relative_url }}" type="video/mp4">
          Sorry, your browser doesn't support embedded videos. 
          </video>            
      </div>
    </div>

  </div>  
  <br>
    
    <div class="container">
    <center><h5 class="display-6 text-default">OmniGibson: Realism in perception, physics, and interactions</h5></center>
    <div class="row align-items-center">

      <div class="col-lg-4 mr-auto text-left mt-4">
        <div class="card bg-purple shadow border-0">
          <video autoplay loop muted>
            <source src="{{ '/assets/img/behavior/b1k-feats/water.mp4' | relative_url }}" type="video/mp4">
            Sorry, your browser doesn't support embedded videos. 
            </video> 
            <center><h5 class="display-6 text-white">Fluids</h5></center>
        </div>
      </div>
      
      <div class="col-lg-4 mr-auto text-left mt-4">
        <div class="card bg-primary shadow border-0">
          <video autoplay loop muted>
            <source src="{{ '/assets/img/behavior/b1k-feats/deformable.mp4' | relative_url }}" type="video/mp4">
            Sorry, your browser doesn't support embedded videos. 
            </video> 
            <center><h5 class="display-6 text-white">Deformables</h5></center>
        </div>
      </div>

      <div class="col-lg-4 mr-auto text-left mt-4">
        <div class="card bg-green shadow border-0">
          <video autoplay loop muted>
            <source src="{{ '/assets/img/behavior/b1k-feats/fire.mp4' | relative_url }}" type="video/mp4">
            Sorry, your browser doesn't support embedded videos. 
            </video> 
            <center><h5 class="display-6 text-white">Thermal effects</h5></center>
        </div>
      </div>

      <div class="col-lg-4 mr-auto text-left mt-4">
        <div class="card bg-purple shadow border-0">
          <video autoplay loop muted>
            <source src="{{ '/assets/img/behavior/b1k-feats/transition.mp4' | relative_url }}" type="video/mp4">
            Sorry, your browser doesn't support embedded videos. 
            </video> 
            <center><h5 class="display-6 text-white">Transition machines</h5></center>
        </div>
      </div>

      <div class="col-lg-4 mr-auto text-left mt-4">
        <div class="card bg-primary shadow border-0">
          <video autoplay loop muted>
            <source src="{{ '/assets/img/behavior/b1k-feats/glass.mp4' | relative_url }}" type="video/mp4">
            Sorry, your browser doesn't support embedded videos. 
            </video>             <center><h5 class="display-6 text-white">Transparency</h5></center>
        </div>
      </div>

      <div class="col-lg-4 mr-auto text-left mt-4">
        <div class="card bg-green shadow border-0">
          <video autoplay loop muted>
            <source src="{{ '/assets/img/behavior/b1k-feats/light.mp4' | relative_url }}" type="video/mp4">
            Sorry, your browser doesn't support embedded videos. 
            </video>             <center><h5 class="display-6 text-white">Lighting effects</h5></center>
        </div>
      </div>
      
        <div class="col-lg-4 mr-auto text-left mt-4">
          <div class="card bg-purple shadow border-0">
            <video autoplay loop muted>
              <source src="{{ '/assets/img/behavior/b1k-feats/rigid-grasp.mp4' | relative_url }}" type="video/mp4">
              Sorry, your browser doesn't support embedded videos. 
              </video>            
                <center><h5 class="display-6 text-white">Grasp rigid objects</h5></center>
          </div>
        </div>

        <div class="col-lg-4 mr-auto text-left mt-4">
          <div class="card bg-primary shadow border-0">
            <video autoplay loop muted>
              <source src="{{ '/assets/img/behavior/b1k-feats/cloth-grasp.mp4' | relative_url }}" type="video/mp4">
              Sorry, your browser doesn't support embedded videos. 
              </video>            
              <center><h5 class="display-6 text-white">Grasp deformable objects</h5></center>
          </div>
        </div>

        <div class="col-lg-4 mr-auto text-left mt-4">
          <div class="card bg-green shadow border-0">
            <video autoplay loop muted>
              <source src="{{ '/assets/img/behavior/b1k-feats/fluid-scoop.mp4' | relative_url }}" type="video/mp4">
              Sorry, your browser doesn't support embedded videos. 
              </video>            
              <center><h5 class="display-6 text-white">Interact with fluids</h5></center>
          </div>
        </div>

    </div>
  </div>

</div>
</div>
