<div class="section features-4">
  <div class="container">
    <h3 class="display-3 text-blue">What makes BEHAVIOR-1K different?</h3>

    <div class="row align-items-center">


      <div class="col-lg-4 mr-auto text-left mt-4">
        <div class="card bg-primary shadow border-0">
          <img src="{{ '/assets/img/behavior/b1k-feats/water.gif' | relative_url }}" class="card-img-top">
          <blockquote class="card-blockquote">
            <h4 class="display-4 text-white">Fluids</h4>
          </blockquote>
        </div>
      </div>
      
      <div class="col-lg-4 mr-auto text-left mt-4">
        <div class="card bg-primary shadow border-0">
          <img src="{{ '/assets/img/behavior/b1k-feats/deformable.gif' | relative_url }}" class="card-img-top">
          <blockquote class="card-blockquote">
            <h4 class="display-4 text-white">Deformables</h4>
          </blockquote>
        </div>
      </div>

      <div class="col-lg-4 mr-auto text-left mt-4">
        <div class="card bg-primary shadow border-0">
          <img src="{{ '/assets/img/behavior/b1k-feats/fire.gif' | relative_url }}" class="card-img-top">
          <blockquote class="card-blockquote">
            <h4 class="display-4 text-white">Thermal effects</h4>
          </blockquote>
        </div>
      </div>

      <div class="col-lg-4 mr-auto text-left mt-4">
        <div class="card bg-primary shadow border-0">
          <img src="{{ '/assets/img/behavior/b1k-feats/transition.gif' | relative_url }}" class="card-img-top">
          <blockquote class="card-blockquote">
            <h4 class="display-4 text-white">Transition machine</h4>
          </blockquote>
        </div>
      </div>

      <div class="col-lg-4 mr-auto text-left mt-4">
        <div class="card bg-primary shadow border-0">
          <img src="{{ '/assets/img/behavior/b1k-feats/glass.gif' | relative_url }}" class="card-img-top">
          <blockquote class="card-blockquote">
            <h4 class="display-4 text-white">Transparency</h4>
          </blockquote>
        </div>
      </div>

      <div class="col-lg-4 mr-auto text-left mt-4">
        <div class="card bg-primary shadow border-0">
          <img src="{{ '/assets/img/behavior/b1k-feats/light.gif' | relative_url }}" class="card-img-top">
          <blockquote class="card-blockquote">
            <h4 class="display-4 text-white">Lighting effects</h4>
          </blockquote>
        </div>
      </div>

    </div>
  </div>
</div>
