<div class="section features-1">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h3 class="display-3 text-white">The BEHAVIOR Team</h3>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a href="javascript:;" class="avatar avatar-xl rounded-circle">
            <img alt="Image placeholder" src="../../../assets/img/faces/team-4.jpg">
          </a>
          <small class="d-block font-weight-bold mb-4">Roberto Martin-Martin</small>
        </div>
        <div class="col">
          <a href="javascript:;" class="avatar avatar-xl rounded-circle">
            <img alt="Image placeholder" src="../../../assets/img/faces/team-4.jpg">
          </a>
          <small class="d-block font-weight-bold mb-4">Roberto Martin-Martin</small>
        </div>
        <div class="col">
          <a href="javascript:;" class="avatar avatar-xl rounded-circle">
            <img alt="Image placeholder" src="../../../assets/img/faces/team-4.jpg">
          </a>
          <small class="d-block font-weight-bold mb-4">Roberto Martin-Martin</small>
        </div>
        <div class="col">
          <a href="javascript:;" class="avatar avatar-xl rounded-circle">
            <img alt="Image placeholder" src="../../../assets/img/faces/team-4.jpg">
          </a>
          <small class="d-block font-weight-bold mb-4">Roberto Martin-Martin</small>
        </div>
        <div class="col">
          <a href="javascript:;" class="avatar avatar-xl rounded-circle">
            <img alt="Image placeholder" src="../../../assets/img/faces/team-4.jpg">
          </a>
          <small class="d-block font-weight-bold mb-4">Roberto Martin-Martin</small>
        </div>
        <div class="col">
          <a href="javascript:;" class="avatar avatar-xl rounded-circle">
            <img alt="Image placeholder" src="../../../assets/img/faces/team-4.jpg">
          </a>
          <small class="d-block font-weight-bold mb-4">Roberto Martin-Martin</small>
        </div>
        <div class="col">
          <a href="javascript:;" class="avatar avatar-xl rounded-circle">
            <img alt="Image placeholder" src="../../../assets/img/faces/team-4.jpg">
          </a>
          <small class="d-block font-weight-bold mb-4">Roberto Martin-Martin</small>
        </div>
        <div class="col">
          <a href="javascript:;" class="avatar avatar-xl rounded-circle">
            <img alt="Image placeholder" src="../../../assets/img/faces/team-4.jpg">
          </a>
          <small class="d-block font-weight-bold mb-4">Roberto Martin-Martin</small>
        </div>
        <div class="col">
          <a href="javascript:;" class="avatar avatar-xl rounded-circle">
            <img alt="Image placeholder" src="../../../assets/img/faces/team-4.jpg">
          </a>
          <small class="d-block font-weight-bold mb-4">Roberto Martin-Martin</small>
        </div>
        <div class="col">
          <a href="javascript:;" class="avatar avatar-xl rounded-circle">
            <img alt="Image placeholder" src="../../../assets/img/faces/team-4.jpg">
          </a>
          <small class="d-block font-weight-bold mb-4">Roberto Martin-Martin</small>
        </div>
        <div class="col">
          <a href="javascript:;" class="avatar avatar-xl rounded-circle">
            <img alt="Image placeholder" src="../../../assets/img/faces/team-4.jpg">
          </a>
          <small class="d-block font-weight-bold mb-4">Roberto Martin-Martin</small>
        </div>
        <div class="col">
          <a href="javascript:;" class="avatar avatar-xl rounded-circle">
            <img alt="Image placeholder" src="../../../assets/img/faces/team-4.jpg">
          </a>
          <small class="d-block font-weight-bold mb-4">Roberto Martin-Martin</small>
        </div>
      </div>
    </div>
  </div>
