<div class="section features-1">
    <div class="container">
      <div class="row text-center justify-content-center">
        <div class="col-lg-8">
          <h3 class="display-3 text-black">The BEHAVIOR Team</h3>
          <br>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col">
          <a href="http://chengshuli.me" class="avatar avatar-xl rounded-circle">
            <img alt="Chengshu (Eric) Li" src="{{ '/assets/img/behavior/chengshu.jpg' | relative_url }}">
          </a>
          <small class="d-block font-weight-bold mb-4">Chengshu (Eric) Li</small>
        </div>
        <div class="col">
          <a href="https://www.linkedin.com/in/sanjana-srivastava5/" class="avatar avatar-xl rounded-circle">
            <img alt="Sanjana Srivastava" src="{{ '/assets/img/behavior/sanjana.jpg' | relative_url }}">
          </a>
          <small class="d-block font-weight-bold mb-4">Sanjana Srivastava</small>
        </div>
        <div class="col">
          <a href="https://github.com/mjlbach/" class="avatar avatar-xl rounded-circle">
            <img alt="Michael Lingelbach" src="https://pbs.twimg.com/profile_images/1291846610414997505/J5QTYSTN_400x400.jpg">
          </a>
          <small class="d-block font-weight-bold mb-4">Michael Lingelbach</small>
        </div>
        <div class="col">
          <a href="javascript:;" class="avatar avatar-xl rounded-circle">
            <img alt="Image placeholder" src="../../../assets/img/faces/team-4.jpg">
          </a>
          <small class="d-block font-weight-bold mb-4">Roberto Martin-Martin</small>
        </div>
        <div class="col">
          <a href="javascript:;" class="avatar avatar-xl rounded-circle">
            <img alt="Image placeholder" src="../../../assets/img/faces/team-4.jpg">
          </a>
          <small class="d-block font-weight-bold mb-4">Roberto Martin-Martin</small>
        </div>
        <div class="col">
          <a href="javascript:;" class="avatar avatar-xl rounded-circle">
            <img alt="Image placeholder" src="../../../assets/img/faces/team-4.jpg">
          </a>
          <small class="d-block font-weight-bold mb-4">Roberto Martin-Martin</small>
        </div>
        <div class="col">
          <a href="javascript:;" class="avatar avatar-xl rounded-circle">
            <img alt="Image placeholder" src="../../../assets/img/faces/team-4.jpg">
          </a>
          <small class="d-block font-weight-bold mb-4">Roberto Martin-Martin</small>
        </div>
        <div class="col">
          <a href="javascript:;" class="avatar avatar-xl rounded-circle">
            <img alt="Image placeholder" src="../../../assets/img/faces/team-4.jpg">
          </a>
          <small class="d-block font-weight-bold mb-4">Roberto Martin-Martin</small>
        </div>
        <div class="col">
          <a href="javascript:;" class="avatar avatar-xl rounded-circle">
            <img alt="Image placeholder" src="../../../assets/img/faces/team-4.jpg">
          </a>
          <small class="d-block font-weight-bold mb-4">Roberto Martin-Martin</small>
        </div>
        <div class="col">
          <a href="javascript:;" class="avatar avatar-xl rounded-circle">
            <img alt="Image placeholder" src="../../../assets/img/faces/team-4.jpg">
          </a>
          <small class="d-block font-weight-bold mb-4">Roberto Martin-Martin</small>
        </div>
        <div class="col">
          <a href="javascript:;" class="avatar avatar-xl rounded-circle">
            <img alt="Image placeholder" src="../../../assets/img/faces/team-4.jpg">
          </a>
          <small class="d-block font-weight-bold mb-4">Roberto Martin-Martin</small>
        </div>
        <div class="col">
          <a href="javascript:;" class="avatar avatar-xl rounded-circle">
            <img alt="Image placeholder" src="../../../assets/img/faces/team-4.jpg">
          </a>
          <small class="d-block font-weight-bold mb-4">Roberto Martin-Martin</small>
        </div>
        <div class="col">
          <a href="javascript:;" class="avatar avatar-xl rounded-circle">
            <img alt="Chengshu (Eric) Li" src="{{ '/assets/img/behavior/chengshu.jpg' | relative_url }}">
          </a>
          <small class="d-block font-weight-bold mb-4">Chengshu (Eric) Li</small>
        </div>
        <div class="col">
          <a href="javascript:;" class="avatar avatar-xl rounded-circle">
            <img alt="Chengshu (Eric) Li" src="{{ '/assets/img/behavior/chengshu.jpg' | relative_url }}">
          </a>
          <small class="d-block font-weight-bold mb-4">Chengshu (Eric) Li</small>
        </div>
      </div>
    </div>
  </div>
