<div class="section features-3 my-5 fullWidth" style="background-image: url(' {{ '/assets/img/ill/p31.svg' | relative_url }}')">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-lg-8">
        <h3 class="display-3 text-white">What makes BEHAVIOR different?</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg">
        <div class="info info-horizontal bg-white">
          <div class="icon icon-shape icon-shape-info rounded-circle text-white">
            <i class="ni ni-active-40 text-info"></i>
          </div>
          <div class="description pl-4">
            <h5 class="title text-info">Natural Activities</h5>
            <p class="description opacity-8">100 Household Activities in Realistically Simulated Homes</p>
            <a href="#" class="text-info">Task List</a>
            <video autoplay loop muted width="300"> 
              <source src="{{ '/assets/img/behavior/behav_web1.mp4' | relative_url }}" type="video/mp4">
                Sorry, your browser doesn't support embedded videos.
              </video>
          </div>
        </div>
      </div>
      <div class="col-lg">
        <div class="info info-horizontal bg-white">
          <div class="icon icon-shape icon-shape-warning rounded-circle text-white">
            <i class="ni ni-istanbul text-warning"></i>
          </div>
          <div class="description pl-4">
            <h5 class="title text-warning">Input/Output</h5>
            <p class="description opacity-8">Decision Making based on Onboard Sensing for Navigation and Manipulation</p>
            <a href="#" class="text-warning">Benchmark instructions</a>
          </div>
        </div>
      </div>
      <div class="col-lg">
        <div class="info info-horizontal bg-white">
          <div class="icon icon-shape icon-shape-danger rounded-circle text-white">
            <i class="ni ni-trophy text-danger"></i>
          </div>
          <div class="description pl-4">
            <h5 class="title text-danger">Types of Tasks</h5>
            <p class="description opacity-8">More Complex Interactions than just Pick-and-Place</p>
            <a href="#" class="text-danger">More about the simulator</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
