<div class="section features-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 mr-auto text-left mt-4">
        <div class="card bg-default shadow border-0">
          <img src="{{ '/assets/img/behavior/tool.jpg' | relative_url }}" class="card-img-top">
          <blockquote class="card-blockquote">
            <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
              <polygon points="0,52 583,95 0,95" class="fill-default"></polygon>
              <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default"></polygon>
            </svg>
            <h4 class="display-4 text-white">Describe your activity in BDDL</h4>
            <p class="lead text-italic text-white">Use our visual tool to generate the logic description of your new activity. Use our online server.</p>
          </blockquote>
        </div>
      </div>
      <div class="col-lg-4 mr-auto text-left mt-4">
        <div class="card bg-primary shadow border-0">
          <img src="{{ '/assets/img/tool.jpg' | relative_url }}" class="card-img-top">
          <blockquote class="card-blockquote">
            <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
              <polygon points="0,52 583,95 0,95" class="fill-primary"></polygon>
              <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-primary"></polygon>
            </svg>
            <h4 class="display-4 text-white">Sample your activity in iGibson</h4>
            <p class="lead text-italic text-white">Create multiple valid activity instances by sampling the BDDL definition with our generating code.</p>
          </blockquote>
        </div>
      </div>
            <div class="col-lg-4 mr-auto text-left mt-4">
        <div class="card bg-success shadow border-0">
          <img src="{{ '/assets/img/theme/img-1-1200x1000.jpg' | relative_url }}" class="card-img-top">
          <blockquote class="card-blockquote">
            <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
              <polygon points="0,52 583,95 0,95" class="fill-success"></polygon>
              <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-success"></polygon>
            </svg>
            <h4 class="display-4 text-white">Design System</h4>
            <p class="lead text-italic text-white">That’s my skill. I’m not really specifically talented at anything except for the ability to learn. </p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>