<!DOCTYPE html>
<html>
  <head>
    <title>B1K synset and objects</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
      h1 {
        text-align: center;
        padding: 5vh;
      }
      table {
        border: 3px solid #dee2e6;
      }
      th, td {
        border: 2px solid #dee2e6;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>B1K synset and objects</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Required Synset</th>
            <th>Requiring Tasks</th>
            <th>Matched Objects</th>
          </tr>
        </thead>
        <tbody>
          {% for synset, task in synset_to_task.items() %}
          <tr>
            <td>{{ synset }}</td>
            <td>{{ task|format_iterable }}</td>
            {% if synset_to_objects[synset]|length > 0 %}
            <td>{{ synset_to_objects[synset]|format_iterable }}</td>
            {% else %}
            <td>None</td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
